#This the the canonical lab .gitignore file

#ignore the `compile` output program
compile

#ignore temp files
*~

#ignore pdf files (just keep source files)
*.pdf

#ignore junk files from latex output
*.out
*.log
*.aux

#ignore junk files from compiling C code
*.o

#ignore ANTLR files
*.lo
grammar/antlr/libantlr3c/*

#ignore ANTLR files used when debugging
grammar/output/*.java
grammar/output/classes
grammar/output/*.txt

#ignore junk files from compiling Haskell code
*.hi

#ignore other junk files
*.backup
*.kate-swp
*.swp
*.synctex.gz

#ignore java files (For antlr)
*.jar

#ignore Xcode project files
*.xcodeproj

#ignore the autotest results
autotest_output.txt
